version: "3"
services:
    nginx:
        image: nginx
        container_name: "klickly-nginx"
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf

networks:
    default:
        external:
            name: klickly-network
